.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    
    padding-bottom: 2rem;
}

.footer h2 {
  
    text-align: center;
    width: 100%;
    
}

.footer .footerIcons {
    display: flex;
    justify-content: center; 
    gap: 15px; 
    margin-top: 0.5rem;
}


.footerIcons i {
    font-size: 2.2rem;  
    color: var(--detail-color);
    transition: color 0.3s, transform 0.2s;
   
    
}

.footerIcons i:hover {
    transform: scale(1.2); 
   
}