.soleniaContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    align-items: flex-start;
    padding-top: 7rem;
}

.headline h1 {
    color: var(--detail-color);
}

.tools  {
    border-radius: 20px;
    padding: 0.4rem 0.8rem;
}

.text {
    padding-top: 1rem;
}

.text p {
    padding-bottom: 1rem;
    font-size: 1rem;
}

.visuell {
    display: flex;
    justify-content: center;
   
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.visuell img {
    width: 300px;
     background-color: var(--background-color5);
    border-radius: 20px;
    padding: 2rem;
}

.wireframeWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

.wireframe-content {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    justify-content: center;
    
}

.wireframe-text h3 {
    text-align: center;
}





.wireframessolenia  {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-start;
    gap: 0.5rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    background-color: var( --background-color5);
    padding: 2rem;
    border-radius: 20px;
    
}

.imagesBox {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
}

 .imagesBox img {
    width: 60px;
}

.projectLinks {
    display: flex;
    
    justify-content: flex-start;
    align-items: center;
   
    gap: 0.5rem;
    margin-top: 1.5rem;
}

.projectLinksButton {
    padding: 10px 20px;
    border: 2px solid var(--detail-color);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    width: 130px;
    font-size: 15px;
    height: 40px;
    transition: .3s;
    z-index: 1;
    color: var(--detail-color);
    font-weight: 500;
    cursor: pointer;
}

.projectLinksButton::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: var(--detail-color);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.projectLinksButton:hover::before {
    width: 105%;
}

.projectLinksButton:hover {
    color: var(--text-color2);
}

.projectLinksButton a {
    text-decoration: none;
}



@media (min-width: 900px) { 
   .wireframessolenia .imagesBox img {
        width: 200px;
    }

    .visuell {
        justify-content: flex-start;
    }

    .visuell img {
    width: 500px;
    
}

   
  
}




